@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e6e6ff;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Open Sans", serif;
}

.animatedButton{
    animation-duration: 10000ms;
}

.ql-container{
    border: none !important;
}
.ql-toolbar{
    border: none !important;
}
.ql-editor{
    border: none !important;
}